.comentario-form {
	width: 90%;
	max-width: 600px;
	margin: auto;
	.tituloInput {
		text-align: center;
	}
	form {
		text-align: center;
		.textarea {
			textarea{
				width: 100%;
			}
		}
	}
	.registrate {
		text-align: center;
		padding: 20px;
		font-style: italic;
		.link {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}

.comentarios-lista {
	width: 90%;
	max-width: 600px;
	margin: auto;
	.titulo {
		text-align: center;
		padding: 10px 0;
	}
	.comentario {
		background-color: $fondoAreasTexto;
		padding: 5px;
		border-radius: 5px;
		margin-bottom: 10px;
		.fecha {
			font-size: .9rem;
		}
		.texto {
			width: 100%;
			text-align:justify;		
		}
	}
}