.peliculas-titulo{
  width: 350px;
	text-align: left;
	margin: auto;
	padding: 20px 0;
	padding-left: 30px;
	font-size: 1.2rem;
	@media (max-width: 768px) {
		width: 80%;
	}

}
.peliculas-contenedor {
	.peliculas {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(5,1fr);
		gap: 10px;
		@media (max-width: 1440px) {
			grid-template-columns: repeat(4,1fr);
		}
		@media (max-width: 1024px) {
			grid-template-columns: repeat(3,1fr);
		}
		@media (max-width: 768px) {
			grid-template-columns: repeat(2,1fr);
		}
		@media (max-width: 550px) {
			grid-template-columns: repeat(1,1fr);
			justify-content: center;
			align-items: center;
		}
		.pelicula {
			margin: auto;
			width: 100%;
			.imagen {
				img{
					width: 100%;
				}
			}
			.nombre {
				text-align: right;
			}
		}
	}
	.sin-resultados {
		display: block;
		text-align: center;
		margin: auto;
		margin-top: 50px;
		width: 300px;
		text-align: center;
		background-color: rgba(255,0,0,.3);
		padding: 5px 10PX;
		border-radius: 5px;
	}
}

