.search {
	margin-top: 50px;
	width: 95%;
	margin: auto;
	
	.form{
		max-width: 650px;
		margin: auto;
		input {
			display: block;
			width: 350px;
			background-color: rgba(255,255,255,.04);
			border: none;
			border-radius: 5px;
			padding: 10px;
			color: white;
			margin-bottom: 20px;
			margin: auto;
			@media (max-width: 768px) {
				width: 80%;
			}
		}
	}

	.spinner {
		// position: absolute;
		margin: auto;
		margin-top: 50px;
		animation: spin infinite 2s linear;
		font-size: 100px;
		width: 100px;
		z-index: 99;
		color: w;
	}
	
}


@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}