@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');

@import './nav';
@import './_vars';
@import './profile';
@import './portada';



body {
  margin: 0;
  background-color: #172d44;
  font-family: 'Nunito', sans-serif;
  color: white;
	font-size: 16px;
}

.container {
}

.naranja {
	color: $naranja;
}

.boton {
	cursor: pointer;
}

// rfce